@page "{int:id}"
@model Buyify_Web.Pages.DetailsModel
@{

}

<h1>Détails de l'article</h1>
<img src="@Model.Article.Img1" alt="@Model.Article.Nom"/>

<p>Nom : @Model.Article.Nom</p>
<p>Prix : @Model.Article.Prix</p>
<p>Prix : @Model.Article.PrixSold</p>
